*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.container{
  min-height:100vh;
  padding:30px;

  background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #312e81
  );

  color:white;
}

h1{
  text-align:center;
  color:#f59e0b;
  font-size:55px;
  margin-bottom:20px;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;

  margin-bottom:30px;
}

button{
  padding:12px 24px;
  border:none;
  border-radius:10px;

  background:#f59e0b;
  color:white;

  cursor:pointer;

  font-size:16px;
  font-weight:bold;

  transition:0.3s;
}

button:hover{
  transform:translateY(-3px);
  box-shadow:0 8px 20px rgba(245,158,11,0.4);
}

.card{
  max-width:1000px;
  margin:auto;

  padding:30px;

  background:rgba(255,255,255,0.08);

  border-radius:20px;

  backdrop-filter:blur(10px);

  box-shadow:0 8px 30px rgba(0,0,0,0.3);
}

pre{
  white-space:pre-wrap;
  line-height:2;

  font-size:20px;

  color:#e5e7eb;
}

@media(max-width:768px){

  h1{
    font-size:36px;
  }

  .card{
    padding:20px;
  }

  pre{
    font-size:17px;
    line-height:1.8;
  }

  button{
    width:100%;
  }
}
.subtitle{
  text-align:center;
  color:#032145;
  margin-bottom:25px;
  font-size:18px;
}