.footer{
  margin-top:50px;
  padding:35px 20px;

  text-align:center;

  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(10px);

  border-top:1px solid rgba(255,255,255,0.15);

  border-radius:20px 20px 0 0;
}

.footer h3{
  color:#ffb703;

  font-size:28px;

  margin-bottom:15px;

  text-shadow:0 0 10px rgba(255,183,3,0.4);
}

.footer p{
  color:#eb2708;

  font-size:16px;

  line-height:1.8;

  max-width:700px;

  margin:0 auto 10px auto;
}

.credit{
  margin-top:15px;

  color:#ffd60a;

  font-weight:bold;

  font-size:17px;

  text-shadow:0 0 8px rgba(255,214,10,0.3);
}